

  .page-banner{
    top:-12px;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), radial-gradient(rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.3) 166%), url('../../../assets/images/HomeBanner.jpg');    
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
}

.banner-title{
  /* padding-bottom: 56px;
  padding-top: 112px;
  padding-left: 48px;
  padding-right: 48px;
  position: absolute;
  top: calc(-90px);
  height: calc(100% + 90px); */
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-title span{
  letter-spacing: 2px;
  line-height: 1;
  text-align: center;
  font-size: 37.5pt;
  color: #ffffff;
  text-shadow: 0px 0px 10px #151515;
}

 /*Card CSS */
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('../../../assets/images/Logo.gif');
  background-size: cover;
}

/* Content */
.content-heading {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content-heading h1 {
  color: rgba(0,0,0,0.87);
  font: 400 34px / 40px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-weight: 300;
}

.content-heading img {
  height: 25px;
  width: 170px;
  margin-top: -30px;
  margin-bottom: 30px;
}
