<section class="page-banner">
    <div class="banner-title">
        <span>Blessing 2 World</span>
        <span style="font-size: 15pt; margin: 30px;">Sprit | Soul | Body</span>
    </div>
</section>



<div *ngFor = "let homeSection of homeSections" class="content-heading">
    <h1> {{ homeSection.HCName }} </h1>
    <br>
    <img src="assets/images/Headline.jpg">
</div>



<!-- <div class="content-heading">
    <h1>Must Do - Every Day</h1>
    <br>
    <img src="assets/images/Headline.jpg">
</div>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Read Bible</mat-card-title>
      <mat-card-subtitle>Every Day</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image style="width:100px" src="../../../assets/images/Logo.gif" alt="Photo To Do">
    <mat-card-content>
      <p>
        You must read the Bible every day without fail atleast 5 pages.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  
  <div class="content-heading">
    <h1>Must Know - Things</h1>
    <br>
    <img src="assets/images/Headline.jpg">
</div>

<div class="content-heading">
    <h1>Word of God</h1>
    <br>
    <img src="assets/images/Headline.jpg">
</div> -->