<div class="page-banner" [ngStyle]="{'background-image': 
    'linear-gradient(90deg, hsl(234, 100%, 8%,.7), hsl(208, 100%, 29%,.7)),
    url('+pgHeadInfo.image+')'}">
    <div class="banner-title">
        <span> {{pgHeadInfo.title}} </span>
        <span style="font-size: 15pt; margin: 30px;"> {{ pgHeadInfo.subTitle }} </span>
    </div>
</div>

<!-- #2193b0 → #6dd5ed
'linear-gradient(90deg, hsl(192, 68%, 41%,.7), hsl(191, 78%, 68%,.7)),

#000428 → #004e92
'linear-gradient(90deg, hsl(234, 100%, 8%,.7), hsl(208, 100%, 29%,.7)), -->